* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    /* background-color: yellow; */
    background-color: rgb(0,0,0);
    width: 100%;
    height: 100vh;
    padding-top: 10px;
}

.left-side-bar {
    background-color: rgb(18, 18, 18);
    width: 20%;
    height: 25vh;
    margin-left: 15px;
    border-radius: 10px;

}

.sporty-logo {
    padding-left: 30px;
    padding-top: 10px;
}

.home-logo,
.search-logo {
    color: rgb(179, 179, 179);
    padding-top: 20px;
    display: flex;
    gap: 20px;
    padding-left: 30px;
}

.home-logo:hover {
    color: white;
}

.search-logo:hover {
    color: white;
}

.left-side-bar2 {
    background-color: rgb(18, 18, 18);
    color: white;
    width: 20%;
    height: 60vh;
    margin-left: 15px;
    border-radius: 10px;
    margin-top: 5px;
}

.libary-logo {
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    gap: 5px;
    color: rgb(179, 179, 179);

}

.libary-logo:hover {
    color: white;
}

.add-logo {
    padding-left: 20px;
}

.artists a {
    color: white;
    text-decoration: none;
}

.artists {
    padding-top: 20px;
    padding-left: 30px;
}

.search-logo2 {
    display: flex;
    padding-left: 30px;
    padding-top: 20px;
}

.recent {
    display: flex;
    padding-left: 90px;

}

.dj-amacox-logo {
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.dj-amacox-logo:hover{
    background-color: rgb(179, 179, 179);
}

.dj-amacox-logo img {
    border-radius: 50px;
}

.overflow {
    overflow-x: auto;
    height: 280px;
}

.nav-bar {
    width: 75%;
    height: 20vh;
    /* background-color: blue; */
    background-color: black;
    color: white;
    margin-top: -513px;
    margin-left: 23%;
}

.internal {
    width: 100%;
    height: 10vh;
    /* background-color: aqua; */
    padding-top: 10px;
    padding-left: 20px;
}

.right {
    width: 50%;
    height: 10vh;
    /* background-color: blueviolet; */
    margin-left: 450px;
    margin-top: -28px;
    display: flex;
    gap: 20px;
}

.explore-premium {
    background-color: white;
    color: black;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 10px;
}


.install-logo {
    display: flex;
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 30px;
    width: 140px;
    padding-top: 10px;
    padding-left: 10px;
}

.btn-nav {
    background-color: black;
    color: white;
    height: 30px;
    border-radius: 20px;
}

.inttt {
    background-color: rgb(180, 155, 200);
    color: white;
    height: 30px;
    border-radius: 150px;
    width: 40px;
}

.internal2 {
    width: 100%;
    height: 10vh;
    /* background-color: yellow; */
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    gap: 20px;
}

.all {
    background-color: white;
    color: black;
    width: 40px;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 50px;
}

a {
    text-decoration: none;

}

.music {
    background-color: rgb(35, 35, 35);
    width: 60px;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 50px;
}

.music a,
.podcast a {
    color: white;
}

.podcast {
    background-color: rgb(35, 35, 35);
    width: 70px;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 50px;
}

.main {
    width: 75%;
    height: 80%;
    background-color: rgb(18,18,18);
    /* background-color: blue; */
    margin-left: 23%;
    padding-left: 20px;
    overflow-y: auto;
}

.row1{
    display: flex;
    gap: 20px;
}
.row2{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.i-told-them{
    width: 200px;
    height: 70px;
    background-color: rgb(42,42,42);
    color: white;
    
}
.i-told-them:hover{
    background-color: rgb(179, 179, 179);
}

.burna-boy{
    display: flex;
    align-items: center;
    gap: 10px;

}

.made-for-ajiboro1{
    margin-top: 30px;
}
.each-div:hover{
    background-color: rgb(179, 179, 179);
}

.made{
    color: white;
    display: flex;
}

.show-all{
    padding-left: 520px;
    color: rgb(179, 179, 179);
}

.burna-boy-div{
    display: flex;
    gap: 25px;
}

.made2{
    color: white;
    display: flex;
    margin-top: 30px;
}

.burna-boy-div2{
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.inner-text{
    position: relative;
    color: white;
}

.dj{
    color: rgb(179, 179, 179);
}
.play-button{
    background-color: green;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    left: 110px;
    top: 110px;
    position: absolute;
}

.each-div{
    position: relative;
}
.button-1{
    display: none;
}
.each-div:hover .button-1{
    display: block;
    transition: 3s;
}

.last-inner{
    margin-top: 50px;
    color: white;
    display: flex;
    gap: 70px;
}

.last-inner a{
    color: rgb(179, 179, 179);
}

.first-div-div{}

.link{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.link a:hover{
    color: white;
}

.last-left{
    display: flex;
    gap: 20px;
    padding-left: 110px;
}

.instagram{
    background-color: rgb(179, 179, 179);
    width: 60px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    border-radius: 20px;
    
}

.instagram:hover {
    color: white;
}

.line{
    color: rgb(179, 179, 179);
    width: 100%;
    margin-top: 40px;
}

.final-last{
    margin-top: 40px;
    gap: 30px;
    display: flex;
}

.legal{
    gap: 20px;
    display: flex;
}

.legal a{
    color: rgb(179, 179, 179);
}

.legal a:hover{
    color: white;
}

.ab{
    padding-left: 100px;
    color: rgb(179, 179, 179);
}

.thanks-to-god{
    margin-top: 100px;
}

.down-nav{
    width: 100%;
    height: 20vh;
    background-color: black;
}

.center-div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    color: rgb(179, 179, 179);
}

.side-div-last{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 30px;
    margin-top: -40px;
    color: rgb(179, 179, 179);
    

}